@model DreamJob.ViewModels.HomeViewModel


@if (Model.Authentifie)
{
    <h3>
        Bonjour @Model.Utilisateur.Prenom ! 
    </h3>
    @Html.ActionLink("Se deconnecter", "Deconnexion")
    <br>
    <br>
}
else
{
    <p>
        Veuillez vous authentifier pour pouvoir voter.
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.Utilisateur.Prenom)
            @Html.TextBoxFor(m => m.Utilisateur.Prenom)
            @Html.ValidationMessageFor(m => m.Utilisateur.Prenom)
        </div>
        <div>
            @Html.LabelFor(m => m.Utilisateur.MotDePasse)
            @Html.PasswordFor(m => m.Utilisateur.MotDePasse)
            @Html.ValidationMessageFor(m => m.Utilisateur.MotDePasse)
        </div>
        <input type="submit" value="Se connecter" />
        <br />
        @Html.ActionLink("Créer un compte", "CreerCompte")
    }
}